/* BACKGROUND DE TODAS LAS PAGINAS */
* {
  box-sizing: border-box;
  padding: 0; }

.allIndex {
  background-color: #71abee; }

.cardsPortada {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .cardsPortada .primerDiv {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .cardsPortada .segundoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px; }

@media (min-width: 768px) {
  .allIndex .mainIndex .cardsPortada .primerDiv .primerCard img {
    height: 100%;
    object-fit: cover; }
  .allIndex .mainIndex .cardsPortada .segundoDiv img {
    height: 100%;
    object-fit: cover; }
  /*  CONTACTO 
    .mainContacto{
        .formularioContacto{
            display: flex;
            flex-direction: column;
            text-align: center;
            .nombreForm{
                margin-left: 265px;
            }
            .apellidoForm{
                margin-left: 265px;
            }
            .contFormcorreo{
                text-align: center;
                margin-left: 265px;
            }
            .botonContacto{
                margin-left: 295px;
                width: 200px;
            }
        }
    } */ }

@media (min-width: 1024px) {
  /* INDEX */
  .allIndex .mainIndex .carousel-item .img-fluid {
    width: 100%;
    height: 400px; }
  .allIndex .mainIndex .cardsPortada {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .allIndex .derechosReservados {
    text-align: center; }
  /* CONTACTO */
  .mainContacto .contformularioContacto {
    align-items: center; }
    .mainContacto .contformularioContacto .formularioContacto {
      margin-left: 90px; }
      .mainContacto .contformularioContacto .formularioContacto .contFormcorreo {
        text-align: center; }
      .mainContacto .contformularioContacto .formularioContacto .botonContacto {
        width: 200px;
        margin-left: 330px; } }

@media (min-width: 1200px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 160px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 340px; } }

@media (min-width: 1440px) {
  /* CONTACTO*/
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 250px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 370px; } }

@media (min-width: 1600px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 350px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 400px; } }

@media (min-width: 1800px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 390px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 420px; } }

@media (min-width: 1920px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 450px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 420px; } }

@media (min-width: 2200px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 525px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 480px; } }

@media (min-width: 2560px) {
  /* CONTACTO */
  .mainContacto .contformularioContacto .formularioContacto {
    margin-left: 700px; }
    .mainContacto .contformularioContacto .formularioContacto .botonContacto {
      margin-left: 480px; } }
