/* BACKGROUND DE TODAS LAS PAGINAS */
* {
  box-sizing: border-box;
  padding: 0; }

.allIndex {
  background-color: #71abee; }

.allCursos {
  background-color: #71bcee; }

.allTrabajos {
  background-color: #9ed4f8; }

.allContacto {
  background-color: #e8eeeb; }

.cardsPortada {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .cardsPortada .primerDiv {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .cardsPortada .segundoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px; }

.mainNosotros .textoIntro {
  background-color: #e7e7e7;
  text-align: center;
  margin: 5px 5px 5px 5px;
  border-radius: 5px; }

.mainNosotros .contenedorImagenes {
  display: flex;
  flex-direction: column;
  gap: 15px; }

.mainNosotros .segundaIntro {
  background-color: #e7e7e7;
  text-align: center;
  margin: 10px 10px;
  border-radius: 5px; }

.derechosReservados {
  text-align: center; }

.allCursos .mainCursos .parrIntro {
  background-color: #eeeed7;
  border-radius: 5px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px; }

.allCursos .mainCursos .imagenprincipalCursos img {
  width: 100%;
  height: 320px;
  object-fit: cover; }

.allCursos .mainCursos .contcardsCursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px; }

.allCursos .mainCursos .primerasCards {
  display: flex;
  flex-direction: column;
  gap: 15px; }
  .allCursos .mainCursos .primerasCards .card {
    text-align: center; }

.allCursos .mainCursos .segundasCards {
  display: flex;
  flex-direction: column;
  gap: 15px; }
  .allCursos .mainCursos .segundasCards .card {
    text-align: center; }

.allTrabajos .mainTrabajos .parrTrabajo {
  text-align: center;
  background-color: #cfdbd7;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px; }

.allTrabajos .mainTrabajos .imagenesTrabajos {
  display: flex;
  flex-direction: column;
  gap: 15px; }
  .allTrabajos .mainTrabajos .imagenesTrabajos .contImagentrabajos img {
    border-radius: 12px; }

.allTrabajos .mainTrabajos .contBoton {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.mainContacto .formulario {
  margin-top: 15px;
  background-color: #c4f1ef;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px; }
  .mainContacto .formulario .tituloFormulario {
    margin-top: 20px;
    margin-bottom: 40px; }
  .mainContacto .formulario .contformularioContacto {
    margin-top: 20px;
    margin-bottom: 15px; }

@media (min-width: 768px) {
  /* INDEX */
  .allIndex .mainIndex .cardsPortada .primerDiv .primerCard img {
    height: 100%;
    object-fit: cover; }
  .allIndex .mainIndex .cardsPortada .segundoDiv img {
    height: 100%;
    object-fit: cover; }
  /* TRABAJOS */
  .allTrabajos .mainTrabajos .imagenesTrabajos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
    .allTrabajos .mainTrabajos .imagenesTrabajos .contImagentrabajos {
      text-align: center; }
      .allTrabajos .mainTrabajos .imagenesTrabajos .contImagentrabajos img {
        width: 500px;
        height: 500px; }
  /* CONTACTO */
  .allContacto .mainContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media (min-width: 1024px) {
  /* INDEX */
  .allIndex .mainIndex .carousel-item .img-fluid {
    width: 100%;
    height: 400px; }
  .allIndex .mainIndex .cardsPortada {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .allIndex .derechosReservados {
    text-align: center; }
  /* NOSOTROS */
  .allNosotros .mainNosotros .contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .allNosotros .mainNosotros .contenedorImagenes img {
      width: 400px;
      height: 400px;
      object-fit: cover; }
  /* CURSOS */
  .allCursos .mainCursos .contcardsCursos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .allCursos .mainCursos .contcardsCursos .segundasCards {
      margin-bottom: 15px; }
  /* TRABAJOS */
  .allTrabajos .mainTrabajos .imagenesTrabajos {
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: cover;
    justify-content: space-around; }
    .allTrabajos .mainTrabajos .imagenesTrabajos .contImagentrabajos img {
      width: 300px;
      height: 300px; }
  .allTrabajos .mainTrabajos .contBoton {
    margin-top: 80px; }
  .allTrabajos .derechosReservados {
    margin-bottom: 0; } }
