
@media (min-width: 768px){


    /* INDEX */
    .allIndex{
        .mainIndex{
            .cardsPortada{
                .primerDiv{
                    .primerCard{
                        img{
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .segundoDiv{
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    /* TRABAJOS */

    .allTrabajos{
        .mainTrabajos{
            .imagenesTrabajos{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                .contImagentrabajos{
                    text-align: center;
                    img{
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }
    }


    /* CONTACTO */

    .allContacto{
        .mainContacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


}