
.mainContacto{
    .formulario{
        margin-top: 15px;
        background-color: rgb(196, 241, 239);
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 5px;
        .tituloFormulario{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .contformularioContacto{
            margin-top: 20px;
            margin-bottom: 15px;
            }
        
    }
    
}