
.mainNosotros{
    .textoIntro{
        text-align: center;
        margin: 5px 5px 5px 5px;
        border-radius: 5px;
    }
    .contenedorImagenes{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .segundaIntro{
        text-align: center;
        margin: 10px 10px;
        border-radius: 5px;
    }
}