
*{
    box-sizing: border-box;
    padding: 0;
}

.allIndex{
    background-color: $fondoIndex;
}
.allCursos{
    background-color: $fondoCursos;
}
.allTrabajos{
    background-color: $fondotrabajos;
}
.allContacto{
    background-color: $fondoContacto;
}
