
.cardsPortada{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .primerDiv{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .segundoDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
}